<app-simulation-container [simulation-body]="simulation" [simulation-definition]="definition"
  [simulation-controls]="controls" [content-layout-mode]="contentLayoutMode" #container></app-simulation-container>

<ng-template #simulation>
  <ng-container *ngIf="(layout.isSmallScreen$ | async)">
    <ng-container *ngTemplateOutlet="actions"></ng-container>
  </ng-container>
  <div class="simulation-content">
    <app-pow-online-users [users]="participants$"> </app-pow-online-users>

    <div class="simulation-console" *ngIf="container.simulation$ | async as simulation">
      <div class="console-header">
        <img src="assets/bitcoin-btc-logo.svg">
        <span>
          {{simulation.title}}
        </span>
      </div>
      <div class="console-data">
        <table>
          <tr>
            <th *ngFor="let column of displayedColumns">
              <span *ngIf="column !== displayedColumns[0]"> | </span> <span> {{column.text}} </span>
            </th>
          </tr>
          <tr *ngFor="let hash of hashes">
            <td *ngFor="let column of displayedColumns">
              <span *ngIf="column !== displayedColumns[0]"> | </span> {{getValue(hash, column.prop)}}
            </td>
          </tr>
  
        </table>
      </div>
  
    </div>
  </div>
</ng-template>

<ng-template #controls>
  <ng-container *ngTemplateOutlet="actions"></ng-container>

  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Input</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="parameters">
      <button mat-button (click)="setBitcoinBlockTime()" [disabled]="isExecuting">
        Bitcoin Blockzeit setzen
      </button>
      <mat-form-field appearance="fill">
        <mat-label>Blockzeit [in Sekunden]</mat-label>
        <input matInput type="number" [formControl]="blockTime" />
        <!--label *ngIf="!isExecuting && !inputs.controls['blockTime'].valid">
            <span>{{getErrors('blockTime')}}</span>
          </label-->
        <mat-hint *ngIf="currentBlockTime$ | async as currentBlockTime">
          {{currentBlockTime}}
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Berechungnen</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="calculations">

      <mat-form-field appearance="fill">
        <mat-label>Wahrscheinlichkeit [pro Block]</mat-label>
        <input matInput type="text" value="1 / (Hashrate * Blockzeit)" readonly="true" />
        <mat-hint>
          1 / (
          <span *ngIf="totalHashRate$ | async as hr">{{hr}}</span>
          *
          <span>{{blockTime.value}}</span>
          ) <br /> =
          <span *ngIf="probability$ | async as probability">{{probability * 100}}%</span>
        </mat-hint>
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill">
        <mat-label>Erwartungswert [Anzahl Blöcke]</mat-label>
        <input matInput type="text" value="Hashrate * Blockzeit" readonly="true" />
        <mat-hint><span *ngIf="difficulty$ | async as difficulty">{{difficulty}}</span></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="expectedDuration$ | async as expectedDuration">
        <mat-label>Erwartete Dauer</mat-label>
        <input matInput type="text" [value]="expectedDuration" readonly="true" />
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="expectedPrefix$ | async as expectedPrefix">
        <mat-label>Erwartete Hash Präfixe</mat-label>
        <input matInput type="text" [value]="expectedPrefix" readonly="true" />
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="hexaDecimalFormula$ | async as hexaDecimalFormula">
        <mat-label>Hexadezimal Formel</mat-label>
        <input matInput type="text" [value]="hexaDecimalFormula" readonly="true" />
      </mat-form-field>

    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Optionen</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class=" options">
      <mat-form-field apperance="fill">
        <mat-label>Anzahl angezeigter Hashes</mat-label>
        <input type="number" matInput [formControl]="amountOfHashes" step="1">
      </mat-form-field>
      <mat-checkbox [formControl]="clearOnStart">
        Clear bei Start
      </mat-checkbox>
    </div>
  </mat-expansion-panel>
</ng-template>

<ng-template #actions>
  <div class="actions" *ngIf="probability$ | async as probability">    
    <div class="actions-bar">
      <button mat-button class="btn-circle" (click)="create()" title="Sitzung erstellen" [disabled]="isExecuting">
        <mat-icon>add_to_queue</mat-icon>
      </button>
      <button mat-button class="btn-circle" (click)="join()" [disabled]="isExecuting" title="Sitzung beitreten"><mat-icon>group</mat-icon></button>
    </div>
    <div class="action-info">
      <span *ngIf="currentSession$ | async as currentSession; else without_session">In Sitzung {{currentSession.id}}</span>
      <ng-template #without_session>Suche Sitzung</ng-template>
    </div>
  </div>
</ng-template>

<ng-template #definition>
  <app-pow-definition></app-pow-definition>
</ng-template>