<div class="simulation-items">
    <div class="text info-card">
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Input</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="parameters">
                <form [formGroup]="inputs">
                    <mat-form-field appearance="fill">
                        <mat-label>Maximale Angriffszahl <i>[in Blöcken]</i></mat-label>
                        <input matInput type="number" formControlName="blocksToComplete" />
                        <label *ngIf="!isExecuting && !inputs.controls['blocksToComplete'].valid">
                            <span>{{getErrors('blocksToComplete')}}</span>
                        </label>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Angriffspower <i>[in Prozent]</i></mat-label>
                        <input matInput type="number" formControlName="attackingPower" />
                        <label *ngIf="!isExecuting && !inputs.controls['attackingPower'].valid">
                            <span>{{getErrors('attackingPower')}}</span>
                        </label>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Vorsprung Angriff <i>[in Blöcken]</i></mat-label>
                        <input matInput type="number" formControlName="preminedBlocks" />
                        <label *ngIf="!isExecuting && !inputs.controls['preminedBlocks'].valid">
                            <span>{{getErrors('preminedBlocks')}}</span>
                        </label>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Abbruch Angriff <i>[nach x Blöcken]</i></mat-label>
                        <input matInput type="number" formControlName="cancelAttack" />
                        <label *ngIf="!isExecuting && !inputs.controls['cancelAttack'].valid">
                            <span>{{getErrors('cancelAttack')}}</span>
                        </label>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Anzahl Bestätigungen <i>[in Blöcken]</i></mat-label>
                        <input matInput type="number" formControlName="confirmations" />
                        <label *ngIf="!isExecuting && !inputs.controls['confirmations'].valid">
                            <span>{{getErrors('confirmations')}}</span>
                        </label>
                    </mat-form-field>
                </form>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Optionen</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="options">
                <mat-checkbox [(ngModel)]="clearOnStart">
                    Clear bei Start
                </mat-checkbox>
            </div>
        </mat-expansion-panel>

        <div class="actions">
            <button mat-button (click)="start()" [disabled]="isExecuting">Start</button>
            <button mat-button (click)="stop()" [disabled]="!isExecuting">Stop</button>
            <button mat-button (click)="clear()" [disabled]="isExecuting">Clear</button>
            <span *ngIf="totalAmountBlocks > 0">
                Simulation {{isExecuting ? 'gestartet...' : 'beendet.'}}<br />
            </span>
            <div *ngIf="isExecuting">
                <mat-progress-bar [mode]="'indeterminate'">
                </mat-progress-bar>
            </div>
            <div *ngIf="!isExecuting">
                <span>
                    Bereit für Simulation.
                </span>
                <mat-progress-bar [mode]="'determinate'">
                </mat-progress-bar>
            </div>
        </div>
    </div>

    <div class="simulation">
        <div class="console-header">
            <img src="assets/bitcoin-btc-logo.svg">
            <span>
                51% Attacke Simulation
            </span>
        </div>
        <div class="console-data">
            <p>
                Bitcoin Blockchain<br />
                &gt; <span *ngFor="let i of totalBlocks"
                    [ngClass]="i < confirmations ? 'non-confirm' : 'confirm'">--<span
                        *ngIf="i != totalBlocks[totalBlocks.length-1]">-</span></span><br />
                &gt; <span *ngFor="let i of blockchain" [ngClass]="i < confirmations ? 'non-confirm' : 'confirm'"><span
                        *ngIf="i > 0">&horbar;</span>&#9608;&#9608;</span><br />
                &gt; Anzahl: ({{blockchain.length}}/{{blocksToComplete}})<br />
                &gt; Forstschritt: {{progressBlockchain}}%<br />
                &gt; Gewinnchance: {{probabilityBlockchain}}
            </p>
            <p></p>
            <p></p>
            <p>
                Angreifende Blockchain<br />
                &gt; <span *ngFor="let i of totalBlocks"
                    [ngClass]="i < confirmations ? 'non-confirm' : 'confirm'">--<span
                        *ngIf="i != totalBlocks[totalBlocks.length-1]">-</span></span><br />
                &gt; <span *ngFor="let i of attackingBlockchain"
                    [ngClass]="i < confirmations ? 'non-confirm' : 'confirm'"><span
                        *ngIf="i > 0">&horbar;</span>&#9608;&#9608;</span><br />
                &gt; Anzahl: ({{attackingBlockchain.length}}/{{blocksToComplete}})<br />
                &gt; Forstschritt: {{progressAttackingBlockchain}}%<br />
                &gt; Gewinnchance: {{probabilityAttackingBlockchain}}
            </p>
        </div>
    </div>
</div>