@import '../../app.component';

button {
  border: 2px solid $light-color;
  border-radius: 2em;
  width: 280px;
}

img {
  width: 100%;
}

.donation {
  display: flex;
  flex-direction: column;
}

.qr-codes {
  display: flex;
  flex-direction: row;
}

.lightning {
  width: 300px;
  margin: $margin-huge;

  img {
    border: 4px solid yellow;
  }
}

.on-chain {
  width: 300px;
  margin: $margin-huge;

  img {
    border: 4px solid orange;
  }
}
