<div class="inner-items">
    <h1>Hashrate Simulation</h1>
    <div class="items">
        <div class="text">
            PoW is nice!

            <div class="buttons">
                <button mat-button (click)="simulate()">Simulieren</button>
            </div>
        </div>
        <div class="simulation">
            <span *ngFor="let hash of hashes">{{hash}}<br /></span>
        </div>
    </div>
    <div class="buttons">
        <button mat-button (click)="navigateTo('home')">Start</button>
        <button mat-button (click)="navigateTo('simulations')">Simulationen</button>
        <button mat-button>Erfahre mehr</button>
    </div>
</div>