<div class="node-model" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)">
    <span *ngIf="!nodeCanvas">Loading...</span>
    <div *ngFor="let node of nodeCanvas.nodes" class="node" 
        [style.top]="node.yPx" 
        [style.left]="node.xPx"
        [style.background-color]="node.color"
        [style.color]="node.textColor"
        >{{node.text}}</div>
    <div *ngFor="let relation of nodeCanvas.relations" class="relation"            
        [style.top]="relation.yPx" 
        [style.left]="relation.xPx">
        <mat-slider min="1" max="100" step="1" value="50" 
            (change)="updateRelations($event, relation)">
        </mat-slider>
    </div>
    <div *ngFor="let pin of nodeCanvas.pins" class="pin"
        (click)="clickedPin(pin)"
        [style.top]="pin.yPx" 
        [style.left]="pin.xPx"
        [style.background-color]="pin.color"
        [style.border-color]="pin.borderColor"
        [class.clicked]="pin.clicked"
    ></div>
    <canvas #canvasToDraw></canvas>
</div>