@import "/src/styles.scss";

.footer {
    height: 40px;
    padding: $margin-large;    
    background-color: rgba(var(--footer-color), 0.75);


    .bottom-nav {
        display: flex;

        ::ng-deep .mat-list-item {
            height: auto;
            .mat-list-item-content {
                height: auto;
            }
        }
    }
}