@import "/src/styles.scss";

.footer {
    height: 40px;
    padding: $margin-large;
    background-color: var(--footer-color);

    .bottom-nav {
        display: flex;

        ::ng-deep .mat-list-item {
            height: auto;
            .mat-list-item-content {
                height: auto;
            }
        }
    }
}