<div class="footer d-flex justify-evenly">
    <mat-nav-list class="bottom-nav">
        <a mat-list-item  href="#">Kontakt</a>
        <a mat-list-item  href="#">Impressum</a>
    </mat-nav-list>
    <app-social-bar></app-social-bar>
    <div class="bottom-actions d-flex justify-between">        
        <button mat-icon-button type="button" title="Farbrad öffnen" (click)="openThemeEditor()"><mat-icon>color_lens</mat-icon></button>
        <app-language-selector></app-language-selector>
    </div>
</div>
