<div class="content">
    <div class="simulation-card">
        <div>
            <p>Alle Validierungsregeln können hier gefunden werden:<a
                    href="https://github.com/bitcoin/bitcoin/blob/master/src/validation.cpp#L1471">
                    https://github.com/bitcoin/bitcoin/blob/master/src/validation.cpp#L1471
                </a>
            </p>
            <p>Beipielsweise kann man nach folgender Methode gucken und dort die Belohnungslogik für Miner ansehen:
                <code>GetBlockSubsidy</code>
            </p>
            <p>Die Implementierung sieht wie folgt aus:</p>
            <p>
                <code>
                        CAmount GetBlockSubsidy(int nHeight, const Consensus::Params& consensusParams)
                        &#123;<br/>
                            int halvings = nHeight / consensusParams.nSubsidyHalvingInterval;<br/>
                            // Force block reward to zero when right shift is undefined.<br/>
                            if (halvings >= 64)<br/>
                                return 0;<br/>
                            <br/>
                            CAmount nSubsidy = 50 * COIN;<br/>
                            // Subsidy is cut in half every 210,000 blocks which will occur approximately every 4 years.<br/>
                            nSubsidy >>= halvings;<br/>
                            return nSubsidy;<br/>
                        &#125;
                 </code>
            </p>
            <p>
                Constante <code>COIN = 1.000.000</code> bedeutet, dass 1.000.000 Satoshis = 1 BTC sind.<br />
                <a
                    href="https://github.com/bitcoin/bitcoin/blob/623745ca74cf3f54b474dac106f5802b7929503f/src/consensus/amount.h">
                    https://github.com/bitcoin/bitcoin/blob/623745ca74cf3f54b474dac106f5802b7929503f/src/consensus/amount.h
                </a>
            </p>
            <p>
                Constante <code>MAX_BLOCK_WEIGHT = 4.000.000</code> bedeutet, dass 4.000.000 Bytes = 4.000 KBytes =
                4 MBytes der maximalen Blockgröße entsprechen.<br />
                <a
                    href="https://github.com/bitcoin/bitcoin/blob/623745ca74cf3f54b474dac106f5802b7929503f/src/consensus/amount.h">
                    https://github.com/bitcoin/bitcoin/blob/623745ca74cf3f54b474dac106f5802b7929503f/src/consensus/amount.h
                </a>
            </p>
        </div>
    </div>
</div>