@import "/src/app/app.component.scss";

.info-card {
    width: 320px;
}

button {
    padding: 1em;
}

img {
    width: 100%;
    border: 2px solid $light-color;
    border-radius: 1em;
}

h2 {
    color: var(--accent);
}