<div class="info-card">
    <div class="info-card-content">
        <div class="info-card-text">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <mat-icon>add_circle_outline</mat-icon>
        </div>
        <div class="simulation-button" *ngIf="navigationLink" (click)="navigateTo(navigationLink)">
            <app-conditional-image 
                default-image-src="./assets/img/simulations/sim-atom-still.gif" 
                hover-image-src="./assets/img/simulations/sim-atom.gif"></app-conditional-image>
            <span>Zur Simulation</span>
        </div>
    </div>
    <div class="info-card-media">
        <youtube-player *ngIf="youtubeSrc" [videoId]="youtubeSrc"></youtube-player>
        <img *ngIf="!youtubeSrc" [src]="defaultImage" />
    </div>
</div>