@import "/src/styles.scss";

.mat-card {
    color: var(--font-color);
    background-color: rgba(var(--footer-color), 0.85);
    width: 320px;
    height: max-content;
    min-width: 20em;
    border: 2px solid $light-color;
    border-radius: 0em 2em 0em 2em;
    cursor: pointer;
    margin-bottom: $margin-large;
}

img {
    width: 100%;
    border: 2px solid $light-color;
    border-radius: 1em;
}

h2 {
    color: var(--accent);
}