<div class="info-card">
    <div class="info-card-header"><h3>{{title}}</h3></div>
    <div class="info-card-content">
        <p>{{description}}</p>
        <button *ngIf="false && navigationLink" mat-button (click)="navigateTo(navigationLink)"> Zur Simulation </button>
        <button *ngIf="navigationLink" (click)="navigateTo(navigationLink)">
            <app-conditional-image 
                default-image-src="./assets/img/simulations/sim-atom-still.gif" 
                hover-image-src="./assets/img/simulations/sim-atom.gif"></app-conditional-image>
        </button>
    </div>
    <youtube-player [videoId]="youtubeSrc"></youtube-player>
</div>