<div class="inner-items">
    <h1>Simulationen</h1>
    <div class="items">
        <mat-card (click)="navigateTo('pow')">
            <img src="../../assets/SimulierteWelt_seite1.png" />
            <h2>Hashrate</h2>
            <p>
                Fixes this... Determinismus / Vorhersehbarkeit
            </p>
        </mat-card>
    </div>
    <div class="buttons">
        <button mat-button (click)="navigateTo('home')">Start</button>
        <button mat-button>Erfahre mehr</button>
    </div>
</div>