.inner-start {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .text {
        text-align: left;
    }
}

.inner-start>* {
    padding: 2em;
}

.inner-items {
    color: white;
    width: 100%;
    padding-top: 5em;
    text-align: center;
    justify-content: center;

    h1 {
        font-size: 3em;
    }

    .items {
        display: flex;
        justify-content: center;

        .mat-card {
            color: white;
            background-color: orange;
            width: 10em;
            margin-left: 2em;
            margin-right: 2em;
            border: 2px solid white;
            border-radius: 0em 2em 0em 2em;
            cursor: pointer;
        }

        img {
            width: 100%;
            border: 2px solid white;
            border-radius: 1em;
        }
    }
}

.picture {
    img {
        width: 100%;
        border: 2px solid white;
        border-radius: 1em;
        min-width: 6em;
        max-width: 40em;
    }
}

.simulation {
    width: 100%;
    border: 3px solid white;
    background-color: white;
    border-radius: 0.2em;
    min-width: 5em;
    max-width: 60em;
    min-height: 30em;
    max-height: 30em;
    text-align: left;
    margin-right: 0.5em;

    .header {
        height: 6%;
        background-color: white;
        color: black;
    }

    .data {
        color: orange;
        background-color: black;
        overflow-y: scroll;
        height: 94%;
        padding-left: 1em;
    }
}

.text {
    color: white;
    background: 0;
    width: 30em;
    min-width: 18em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1em;

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}

.buttons {
    padding-top: 1em;
}

.input {
    color: white;
}