<div class="inner-start">
    <div class="text">
        <h1>Bitcoin</h1>
        <h1><b>Simulationen</b></h1>
        <h2>fixes this...</h2>
        Erkunde anhand realistischer Simulationen wie Bitcoin im Detail funktioniert und welche Probleme wie gelöst
        werden.

        <div class="buttons">
            <button mat-button (click)="navigateTo('simulations')">Simulationen</button>
            <button mat-button>Erfahre mehr</button>
        </div>
    </div>
    <div class="picture">
        <img src="../../assets/SimulierteWelt_seite1.png" />
    </div>
</div>