@import "/src/styles.scss";

.sidenav-container {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
}

.mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;  
  overflow: auto;

  > * {
    z-index: 10;
  }

  .app-images {
    position: fixed;
    z-index: 5;
  }
}

.sidenav {
  width: 200px;
}

.hidden {
  display: none;
}

.mat-toolbar {
  color: $light-color;
  background-color: rgba(var(--header-color), 0.75);
  /*border-bottom: 1px dashed $light-color;*/

  height: auto;
  min-height: $header-height;

  > div > a {
    color: $light-color;
    display: inline-block;
    text-decoration: none;
    margin: 0 $margin-huge;
    padding: 2px 0;
    cursor: pointer;
    transition-duration: .5s;
    transition-property: color;

    &:hover {
      &:not(.with-sub-nav) {
        color: rgba(255,255,255,.4);
      }

      .sub-nav {
          display: flex;
      }
    }

    &.active {
      border-bottom: 2px solid var(--accent);
    } 

    .sub-nav {
      display: none;    
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      left: 0px;
      z-index: 10;

      >* {
        color: $light-color;
        display: inline-block;
        text-decoration: none;
        background-color: var(--footer-color);
        padding: 8px 12px;
        transition-duration: .5s;
        transition-property: background-color;

        &:hover {
          background-color: var(--primary);
        }
      }
    }
  }
}

.breadcrumbs {
  color: $light-color;
  background-color: transparentize($color: $light-color, $amount: 0.75) !important;
  border-bottom: 2px solid $light-color;
  font-size: 0.8em;
  padding-left: 7em;

  a {
    cursor: pointer;
    margin: 0 6px;
  }
}

.content-wrapper {
  justify-content: center;
  color: $light-color;

  .content-area {   
    padding: $margin-huge;
    max-width: $max-content-width; 
  }
}

/* ensure top level divs growing */
.content-wrapper,
.content-area {
  display: flex;
  flex-grow: 1;
}

.menu {
  size: 1.5em;
}