<mat-sidenav-container class="sidenav-container">  
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ |async)}" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>      
      <app-logo></app-logo>
      <a mat-list-item *ngFor="let link of navLinks" class="nav-link nav-link-side" [routerLink]="link.href" [routerLinkActive]="['active']" (click)="toggleNavigationEntry(link)"
        [class.with-sub-nav]="link.links" [class.expanded]="link.isExpanded">
        <div class="nav-link-text">
          <span>{{link.title}}</span>
          <mat-icon class="nav-icon" *ngIf="link.links && link.isExpanded">expand_less</mat-icon>
          <mat-icon class="nav-icon"*ngIf="link.links && !link.isExpanded">expand_more</mat-icon>
        </div>

        <div class="sub-nav" *ngIf="link.links">
          <a mat-list-item *ngFor="let sub of link.links" [routerLink]="sub.href" [routerLinkActive]="['active']">
            {{sub.title}}
          </a>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main">
      <mat-toolbar>
        <app-logo [ngClass]="{hidden: (isHandset$ |async)}"></app-logo>

        <div class="navigation">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <div class="menu" [ngClass]="{hidden: (isHandset$ |async)}">
            <a class="nav-link nav-link-top" mat-list-item *ngFor="let link of navLinks" [routerLink]="link.href" [routerLinkActive]="['active']"
              [class.with-sub-nav]="link.links">
              <span>{{link.title}}</span>
              <div class="sub-nav" *ngIf="link.links">
                <a mat-list-item *ngFor="let sub of link.links" [routerLink]="sub.href" [routerLinkActive]="['active']">
                  {{sub.title}}
                </a>
              </div>
            </a>
          </div>
        </div>

        <div class="far-navigation flex-container">
          <div class="donation blink" (click)="openDonation()">
            Spenden
          </div>
          <div class="btc-live-data flex-table">
            <div>
              <span class="data-label">BTC Preis</span>
              <span class="data-value">{{currentPrice?.price}}</span>
              <span class="data-currency">{{currentPrice?.currency}}</span>
            </div>
            <div>
              <span class="data-label">Blockzeit</span>
              <span class="data-value"><a href="https://mempool.space/block/{{currentBlock}}" target="_blank">{{currentBlock}}</a></span>
              <span class="data-currency"></span>
            </div>
          </div>
        </div>
      </mat-toolbar>

      <div class="breadcrumbs" *ngIf="false">
        <i>Wo bin ich?</i>
        <span *ngFor="let path of pathParts">
          <a (click)="navigateTo(getFullPath(path))">{{path}}</a>
          <span *ngIf="!isLast(path)">...</span>
        </span>
      </div>

      <div [class]="contentWrapperClass">
        <div class="content-area">
          <ng-content></ng-content>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
    <div class="app-images" [class.hidden]="!isCarousel() && !isLockImage()">
      <img *ngIf="isLockImage()" [src]="lockedImage()" alt="background" class="d-block w-100" loading="lazy" />
      <app-image-carousel *ngIf="isCarousel()" [image-urls]="homeImages" [interval]="15000"></app-image-carousel>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
