@import "/src/styles.scss";

.sidenav-container {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
}

.mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;  
  overflow: auto;
}

.sidenav {
  width: 200px;
}

.hidden {
  display: none;
}

mat-toolbar {
  color: $light-color;
  background-color: transparentize($color: $light-color, $amount: 0.75) !important;
  /*border-bottom: 1px dashed $light-color;*/

  a {
    color: $light-color;
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    transition-duration: .5s;

    &:hover {
      color: darken($light-color, 10);
    }
  }
}

.breadcrumbs {
  color: $light-color;
  background-color: transparentize($color: $light-color, $amount: 0.75) !important;
  border-bottom: 2px solid $light-color;
  font-size: 0.8em;
  padding-left: 7em;

  a {
    cursor: pointer;
    margin: 0 6px;
  }
}

.content-wrapper {
  justify-content: center;
  color: $light-color;

  .content-area {   
    padding: $margin-huge;
    max-width: $max-content-width; 
  }
}

/* ensure top level divs growing */
.content-wrapper,
.content-area {
  display: flex;
  flex-grow: 1;
}

.logo {
  width: 8em;
}

.menu {
  size: 1.5em;
}