@import "/src/styles.scss";

@media only screen and (min-width: $small-screen-width) {
  .mat-toolbar {
    position: fixed;    
    z-index: 50;
  }

  .content-wrapper {
    margin-top: $header-height;
  }
}

.sidenav-container {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
}

.mat-sidenav-content {
  height: 100%;

  .main {
    z-index: 8;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    position: relative;    
    overflow-y: auto;
  }

  .app-images {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.sidenav {
  width: 200px;
}

.hidden {
  display: none;
}

.mat-toolbar {
  color: $light-color;
  background-color: rgba(var(--header-color), 0.75);

  /*border-bottom: 1px dashed $light-color;*/
  padding: 0;
  padding-right: $margin-large;
  height: $header-height;
  min-height: $header-height;

  display: flex;
  justify-content: space-between;

  .navigation {
    display: flex;
    flex-direction: row;
  }

  .btc-live-data {
    font-size: small;
    line-height: 1.5em;
    width: 170px;

    .data-label {
      width: 60px; 
      
      &::after {
        content: ":";
      }
    }

    .data-value {
      flex-grow: 1;
      font-style: italic;
      text-align: right;

      a {        
        text-decoration: none;
        color: $light-color;
      }
    }

    .data-currency {
      min-width: 30px;
      margin-left: $margin-small;
    }
  }

  .donation {
    cursor: pointer;
    border-radius: $margin-slim;
    padding: $margin-slim $margin-large;
    font-size: small;
  }

  .blink {
    animation-name: glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes glow {
    0% {}

    50% {
      background-color: var(--accent);
      -webkit-box-shadow: 0px 0px 18px 9px rgba(var(--accent), 0.7);
      box-shadow: 0px 0px 18px 9px rgba(var(--accent), 0.7);
    }
  }

  .menu a {
    color: $light-color;
    display: inline-block;
    text-decoration: none;
    margin: 0 $margin-ultra;
    padding: 2px 0;
    cursor: pointer;
    transition-duration: .5s;
    transition-property: color;

    &:hover {
      &:not(.with-sub-nav) {
        color: rgba(255, 255, 255, .4);
      }

      .sub-nav {
        display: flex;
      }
    }

    &.active {
      border-bottom: 2px solid var(--accent);
    }

    .sub-nav {
      display: none;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      left: 0px;
      z-index: 100;

      >* {
        color: $light-color;
        display: inline-block;
        text-decoration: none;
        background-color: lighten($primary, 15%);
        padding: 8px 12px;
        transition-duration: .5s;
        transition-property: background-color;

        &:hover {
          background-color: rgb(var(--primary));
        }
      }
    }
  }
}

.breadcrumbs {
  color: $light-color;
  background-color: transparentize($color: $light-color, $amount: 0.75) !important;
  border-bottom: 2px solid $light-color;
  font-size: 0.8em;
  padding-left: 7em;

  a {
    cursor: pointer;
    margin: 0 6px;
  }
}

.content-wrapper {
  justify-content: center;
  color: $light-color;

  .content-area {
    padding: $margin-huge;
    max-width: $max-content-width;
    height: 100%;
  }
}

/* ensure top level divs growing */
.content-wrapper,
.content-area {
  display: flex;
  flex-grow: 1;
}

.menu {
  size: 1.5em;
}