.data {
    display: flex;
    justify-content: center;

    div {
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 25%
    }

    .output {
        width: 75%;
    }

    .input>* {
        width: 100%;
    }

    .output>* {
        width: 100%;
    }
}

.results {
    width: 100%;
    max-width: 100%;
    overflow: auto;

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0em 1em;
        line-break: unset;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
        overflow-x: scroll;
    }
}