<app-simulation-container [simulation-body]="simulation" [simulation-definition]="definition"
  [simulation-controls]="controls" [content-layout-mode]="contentLayoutMode"
  [video-id]="'E2ee5ewEddE'"></app-simulation-container>

<ng-template #simulation>
  <ng-container *ngIf="(isHandset$ | async)">
    <ng-container *ngTemplateOutlet="actions"></ng-container>
  </ng-container>
  <div class="simulation-console">
    <div class="console-header">
      <img src="assets/bitcoin-btc-logo.svg">
      <span>
        Proof of Work Simulation
      </span>
    </div>
    <div class="console-data">
      <table>
        <tr>
          <th *ngFor="let column of displayedColumns">
            <span *ngIf="column !== displayedColumns[0]"> | </span> <span> {{column.text}} </span>
          </th>
        </tr>
        <!--
        <tr>

          <td *ngFor="let column of displayedColumns">
            <span *ngIf="column !== displayedColumns[0]">|-</span>{{getSeparatorLine(hashes,column)}}
          </td>
        </tr>
      -->


        <tr *ngFor="let hash of hashes">
          <td *ngFor="let column of displayedColumns">
            <span *ngIf="column !== displayedColumns[0]"> | </span> {{getValue(hash, column.prop)}}
          </td>
        </tr>

      </table>
    </div>

  </div>
</ng-template>

<ng-template #controls>
  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Input</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="parameters">
      <button *ngIf="probability$ | async as probability" mat-button (click)="determineHashRate(probability)"
        [disabled]="isExecuting">
        Eigene Hashrate ermitteln
      </button>
      <mat-form-field appearance="fill">
        <mat-label>Hashrate [Hashes pro Sekunde]</mat-label>
        <input matInput type="number" [formControl]="hashRate" [readonly]="isExecuting" />
        <!--label *ngIf="!isExecuting && !inputs.controls['hashRate'].valid">
          <span>{{getErrors('hashRate')}}</span>
        </label-->
        <mat-hint *ngIf="currentHashRate$ | async as currentHashRate">
          {{currentHashRate}}
        </mat-hint>
      </mat-form-field>
      <button mat-button (click)="determineExternalHashRate()" [disabled]="isExecuting">
        Bitcoin Hashrate ermmitteln
      </button>
      <mat-form-field appearance="fill">
        <mat-label>externe Hashrate [Hashes pro Sekunde]</mat-label>
        <input matInput type="number" [formControl]="externalHashRate" [readonly]="isExecuting" />
        <!--label *ngIf="!isExecuting && !inputs.controls['externalHashRate'].valid">
          <span>{{getErrors('externalHashRate')}}</span>
        </label-->
        <mat-hint *ngIf="currentExternalHashRate$ | async as currentExternalHashRate">
          {{currentExternalHashRate}}
        </mat-hint>
      </mat-form-field>

      <hr />

      <mat-form-field appearance="fill" *ngIf="totalHashRate$ | async as totalHashRate">
        <mat-label>gesamte Hashrate [Hashes pro Sekunde]</mat-label>
        <input matInput type="text" value="{{totalHashRate}}" readonly="true" />
      </mat-form-field>

      <hr />

      <button mat-button (click)="setBitcoinBlockTime()" [disabled]="isExecuting">
        Bitcoin Blockzeit setzen
      </button>
      <mat-form-field appearance="fill">
        <mat-label>Blockzeit [in Sekunden]</mat-label>
        <input matInput type="number" [formControl]="blockTime" />
        <!--label *ngIf="!isExecuting && !inputs.controls['blockTime'].valid">
            <span>{{getErrors('blockTime')}}</span>
          </label-->
        <mat-hint *ngIf="currentBlockTime$ | async as currentBlockTime">
          {{currentBlockTime}}
        </mat-hint>
      </mat-form-field>
    </div>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Berechungen</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="calculations">

        <mat-form-field appearance="fill">
          <mat-label>Wahrscheinlichkeit [pro Block]</mat-label>
          <input matInput type="text" value="1 / (Hashrate * Blockzeit)" readonly="true" />
          <mat-hint>
            1 / (
            <span *ngIf="totalHashRate$ | async as hr">{{hr}}</span>
            *
            <span>{{blockTime.value}}</span>
            ) <br /> =
            <span *ngIf="probability$ | async as probability">{{probability * 100}}%</span>
          </mat-hint>
        </mat-form-field>

        <br />

        <mat-form-field appearance="fill">
          <mat-label>Erwartungswert [Anzahl Blöcke]</mat-label>
          <input matInput type="text" value="Hashrate * Blockzeit" readonly="true" />
          <mat-hint><span *ngIf="difficulty$ | async as difficulty">{{difficulty}}</span></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="expectedDuration$ | async as expectedDuration">
          <mat-label>Erwartete Dauer</mat-label>
          <input matInput type="text" [value]="expectedDuration" readonly="true" />
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="expectedPrefix$ | async as expectedPrefix">
          <mat-label>Erwartete Hash Präfixe</mat-label>
          <input matInput type="text" [value]="expectedPrefix" readonly="true" />
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="hexaDecimalFormula$ | async as hexaDecimalFormula">
          <mat-label>Hexadezimal Formel</mat-label>
          <input matInput type="text" [value]="hexaDecimalFormula" readonly="true" />
        </mat-form-field>

      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Optionen</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class=" options">
      <mat-form-field apperance="fill">
        <mat-label>Anzahl angezeigter Hashes</mat-label>
        <input type="number" matInput [formControl]="amountOfHashes" step="1">
      </mat-form-field>
      <mat-checkbox [formControl]="stopOnFoundBlock">
        Stoppen bei gefundenem Block
      </mat-checkbox>
      <mat-checkbox [formControl]="clearOnStart">
        Clear bei Start
      </mat-checkbox>
    </div>
  </mat-expansion-panel>

  <ng-container *ngTemplateOutlet="actions"></ng-container>

</ng-template>

<ng-template #actions>
  <div class="actions" *ngIf="probability$ | async as probability">
    <button mat-button (click)="start(probability)" [disabled]="isExecuting">Start</button>
    <button mat-button (click)="stop()" [disabled]="!isExecuting">Stop</button>
    <button mat-button (click)="clear()" [disabled]="isExecuting">Clear</button>
    <span *ngIf="hashCount > 0">
      Simulation {{isExecuting ? 'gestartet...' : 'beendet.'}}<br />
    </span>
    <div *ngIf="isExecuting">
      <mat-progress-bar [mode]="'indeterminate'">
      </mat-progress-bar>
    </div>
    <div *ngIf="!isExecuting">
      <span>
        Bereit für Simulation.
      </span>
      <mat-progress-bar [mode]="'determinate'">
      </mat-progress-bar>
    </div>
  </div>
</ng-template>

<ng-template #definition>
  <app-pow-definition></app-pow-definition>
</ng-template>