.data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .input {
        min-width: 30%;
        max-width: 100%;
    }

    .output {
        min-width: 60%;
        max-width: 100%;
    }

    .input>* {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .output>* {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.results {
    width: 100%;
    max-width: 100%;
    overflow: auto;

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0em 1em;
        line-break: unset;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
        overflow-x: scroll;
    }
}