.data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .input {
        width: 100%;
        max-width: 28em;
    }

    .output {
        width: 100%;
        max-width: 56em;
    }

    .input>* {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .output>* {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.results {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}