<div class="content">
    <mat-tab-group mat-align-tabs="start" selectedIndex="1">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Definition</span>
            </ng-template>
            <app-vid [video]="'https://www.youtube.com/embed/E2ee5ewEddE'"></app-vid>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Simulation</span>
            </ng-template>
            <app-pow-simulation></app-pow-simulation>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Rechner</span>
            </ng-template>
            <app-pow-calculator></app-pow-calculator>
        </mat-tab>
    </mat-tab-group>
</div>