@use "/src/styles.scss";
@import "/src/colors.scss"
;

.colors {
    :not(:first-child) {
        margin-bottom: $margin-large;
    }

    .color {
        .color-title {
            min-width: 100px;
            margin-right: $margin-small;
        }

        :not(:first-child) {
            margin-left: $margin-small;
        }
    }
}