<div class="content">
    <div class="info-card page-card">
        <h2>Über das Projekt</h2>
        <div class="visions">
            <div class="vision">
                <mat-icon>lightbulb_outline</mat-icon>
                <h4>Bitcoin hat einen Wert.</h4>
                <span>„Bitcoin Simulationen“ - Vielleicht gibt es Unstimmigkeiten darüber, ob wir mit dem Oberbegriff „Simulationen" den Inhalt unserer Webseite vollumfänglich beschreiben. Aber sicherlich würde kein Bitcoiner an der Aussage zweifeln, dass erst die Menschen das System (Bitcoin) verstehen müssen, um zu verstehen, warum Bitcoin einen Wert hat.</span>
            </div>
            <div class="vision">
                <mat-icon>stream</mat-icon>
                <h4>Erlebe und erfahre, warum.</h4>
                <span>Egal, ob es der Bitcoin-Neuling ist, der gerade erst entdeckt hat, dass Shitcoins Scam sind oder der OG-Pleb welcher ganz weit am Grund des Rabbit Holes neue Gänge sucht - Eine Sache eint beide, nämlich, dass es einfach ist, sich theoretisches Wissen rundum Bitcoin anzueignen. Wenn es allerdings an das praktische Erleben der endlos scheinenden Teilbereiche im Bitcoin Kaninchenbau geht, sind die Einstiegshürden häufig deutlich höher, denn nicht jeder hat beispielsweise Lust sich einen Miner zu kaufen oder tagelang auf den Mempool zu schauen, weil er den nächsten Chain-Split und den daraus resultierenden Re-Org beobachten möchte. Genau hier setzen unsere Simulationen an, beim praktischen Erleben.</span>
            </div>
            <div class="vision">
                <mat-icon>add_road</mat-icon>
                <h4>So gehen wir vor.</h4>
                <span>Wir verfolgen bei der Webseiten- und bei Simulationsentwicklung den Ansatz des Minimum Viable Products (MVP), was bedeutet, dass wir mit der Umsetzung unserer Ideen schnell in die Umsetzung gehen und diese mit Dir teilen wollen, damit Du den jeweiligen Teilbereich schnell simulieren kannst. Wir werden auch zukünftig viel Zeit, Liebe und Ideen in die Weiterentwicklung stecken. Die Ergebnisse siehst du iterativ.</span>
            </div>
        </div>
    </div>
</div>