@import '/src/app/app.component.scss';

.visions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;        

    >*:not(:first-child) {
        border-top: 1px solid $primary-300;
    }

    .vision {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $margin-large;
        
        .mat-icon {
            min-width: 34px;
        }

        h4 {
            min-width: 180px;
            margin-bottom: 0;
            font-size: large;
        }

        >*:not(:first-child) {
            margin-left: $margin-large;
        }
    }
}

h3 {
    margin-top: $margin-huge;
}