@import '/src/app/app.component.scss';

button {
    border: 2px solid $light-color;
    margin: 0.5em;
    border-radius: 2em;
}

.donation {
    display: flex;
    flex-direction: column;
}

.qr-codes {
    display: flex;
    flex-direction: row;
}

.lightning {
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-right: $margin-huge;
}

.on-chain {
    height: 200px;
    width: 200px;
    background-color: orange;
}