<div class="toolbar" role="banner">
  <div class="logo">
    <img width="40" alt="{{title}}" src="https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=022" />
  </div>
  <div class="menu">
    <button mat-button (click)="navigateTo('home')">Home</button>
    <button mat-button (click)="navigateTo('pow')">PoW Simulation</button>
  </div>
  <div class="meta">
    <a href="https://github.com/MyKaez/btc-playground" target="_blank">
      <img width="40" src="../assets/GitHub-Mark-64px.png" />
    </a>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>