@import "../styles.scss";


html,
body {
    width: 100%;
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, $accent 0%, $primary 65%, $primary 100%);
}

.logo {
    width: 8em;
}

.menu {
    size: 1.5em;
}

.meta {
    margin-left: auto;

    a {
        padding-left: 1em;
    }
}

.toolbar>* {
    padding: 1em;
}

.content {
    height: 100%;
    width: 100%;

    .items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        .mat-card {
            color: $light-color;
            background-color: $accent;
            width: 25%;
            height: max-content;
            min-width: 20em;
            border: 2px solid $light-color;
            border-radius: 0em 2em 0em 2em;
            cursor: pointer;
        }

        img {
            width: 100%;
            border: 2px solid $light-color;
            border-radius: 1em;
        }
    }
}

.simulation {
    width: 100%;
    border: 3px solid $light-color;
    background-color: $light-color;
    border-radius: 0.2em;
    min-width: 5em;
    max-width: 60em;
    min-height: 30em;
    max-height: 30em;
    text-align: left;
    margin: 1em;

    // @media (max-width: 720px) {
    //     margin-left: 0.5em;
    // }

    // @media (max-width: 1200px) {
    //     margin-left: 1.2em;
    // }

    // @media (min-width: 1200px) {
    //     margin-left: 2em;
    // }

    .header {
        height: 6%;
        background-color: $light-color;
        color: $dark-color;
        display: flex;
        flex-direction: row;
        vertical-align: middle;

        img {
            margin-top: .1em;
            height: 80%;
            max-width: 2em;
            border: 0px;
        }

        span {
            margin-top: .2em;
            margin-left: .2em;
        }
    }

    .data {
        display: flex;
        flex-direction: column;
        color: $accent;
        white-space: nowrap;
        background-color: $dark-color;
        overflow: auto;
        height: 94%;
        font-family: $code-font;
        padding-right: .3em;
        padding-left: .3em;
    }
}

.parameters,
.calculations,
.options,
.actions {
    display: flex;
    flex-direction: column;
    color: $light-color;
}