@import "../styles.scss";

/***
    General settings
**/
html,
body {
    width: 100%;
    height: 100%;
}

button {
    border: 2px solid $light-color;
    margin: 0.5em;
    border-radius: 2em;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, $accent 0%, $primary 65%, $primary 100%);
}

.content {
    height: 100%;
    width: 100%;
}

.items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.simulation {
    width: 100%;
    border: 3px solid $light-color;
    background-color: $light-color;
    border-radius: 0.2em;
    min-width: 5em;
    max-width: 60em;
    min-height: 30em;
    max-height: 30em;
    text-align: left;
    margin: 1em;

    // @media (max-width: 720px) {
    //     margin-left: 0.5em;
    // }

    // @media (max-width: 1200px) {
    //     margin-left: 1.2em;
    // }

    // @media (min-width: 1200px) {
    //     margin-left: 2em;
    // }

    .header {
        height: 6%;
        background-color: $light-color;
        color: $dark-color;
        display: flex;
        flex-direction: row;
        vertical-align: middle;

        img {
            margin-top: .1em;
            height: 80%;
            max-width: 2em;
            border: 0px;
        }

        span {
            margin-top: .2em;
            margin-left: .2em;
        }
    }

    .data {
        display: flex;
        flex-direction: column;
        color: $accent;
        white-space: nowrap;
        background-color: $dark-color;
        overflow: auto;
        height: 94%;
        font-family: $code-font;
        padding-right: .3em;
        padding-left: .3em;
    }
}

.parameters,
.calculations,
.options,
.actions {
    display: flex;
    flex-direction: column;
    color: $light-color;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/***
    Angular materials
**/

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $light-color;
}

.mat-tab-label {
    color: $light-color;
    opacity: 1 !important;
}

.mat-card {
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 1.5em;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
}

.mat-card-actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-card-footer {
    padding: 1em;
}

.mat-expansion-panel-header {
    color: $light-color;
    background: 0;
    box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -webkit-box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -moz-box-shadow: 2px 0px 0px 0px $light-color inset !important;
}

.mat-expansion-panel-header-title {
    color: $light-color;
}

.mat-expansion-panel {
    color: $light-color;
    background: 0;
    margin-top: 1em;
    box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -webkit-box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -moz-box-shadow: 2px 0px 0px 0px $light-color inset !important;
}

mat-label {
    color: $light-color;
}