@import '../styles.scss';

.mat-card {
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 1.5em;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
}

.mat-card-actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-card-footer {
    padding: 1em;
}

.mat-expansion-panel-header {
    box-shadow: 1px 0px 0px 0px $primary inset !important;
    -webkit-box-shadow: 1px 0px 0px 0px $primary inset !important;
    -moz-box-shadow: 1px 0px 0px 0px $primary inset !important;
}

.mat-expansion-panel {
    margin-top: 1em;
    box-shadow: 1px 0px 0px 0px $primary inset !important;
    -webkit-box-shadow: 1px 0px 0px 0px $primary inset !important;
    -moz-box-shadow: 1px 0px 0px 0px $primary inset !important;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0em 1em;
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.mat-row,
.mat-header-row {
    display: table-row;
    overflow-x: scroll;
}

.mat-row {
    font-family: $code-font;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.mat-tab-label-header {
    font-size: 1.5em;
    color: black;
}

:host ::ng-deep .mat-tab-label-active {
    font-size: medium;
}



button {
    border: 1px solid $light-color;
    margin: 0.5em;
    border-radius: 2em;
}