@import '../styles.scss';

.mat-card {
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 1.5em;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
}

.mat-card-actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-card-footer {
    padding: 1em;
}

.mat-expansion-panel-header {
    color: $light-color;
    background: 0;
    box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -webkit-box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -moz-box-shadow: 2px 0px 0px 0px $light-color inset !important;
}

.mat-expansion-panel-header-title {
    color: $light-color;
}

.mat-expansion-panel {
    color: $light-color;
    background: 0;
    margin-top: 1em;
    box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -webkit-box-shadow: 2px 0px 0px 0px $light-color inset !important;
    -moz-box-shadow: 2px 0px 0px 0px $light-color inset !important;
}

mat-label {
    color: $light-color;
}

button {
    border: 2px solid $light-color;
    margin: 0.5em;
    border-radius: 2em;
}