.mat-card {
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 1.5em;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.mat-card-footer {
    padding: 1em;
}

.mat-expansion-panel-header {
    box-shadow: 1px 0px 0px 0px indigo inset;
    -webkit-box-shadow: 1px 0px 0px 0px indigo inset;
    -moz-box-shadow: 1px 0px 0px 0px indigo inset;
}

.mat-expansion-panel {
    margin-top: 1em;
    box-shadow: 1px 0px 0px 0px indigo inset;
    -webkit-box-shadow: 1px 0px 0px 0px indigo inset;
    -moz-box-shadow: 1px 0px 0px 0px indigo inset;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.mat-tab-label-header {
    font-size: 1.5em;
    color: black;
}

:host ::ng-deep .mat-tab-label-active {
    font-size: medium;
}