@import "/src/styles.scss";

.simulation-container {
    .mat-tab-group {
      height: 100%;

      .mat-tab-body-wrapper {
        flex-grow: 1;
      }
    }

    .text-explanation {
        margin-top: $margin-huge;

        .reason {
            font-style: italic;
            padding-left: $margin-huge;
        }

        .groundwork {
            margin-top: $margin-huge;
        }

        .section {
            margin-top: $margin-huge;
        }

        img {
            width: 80%;
            background-color: rgba($accent, 0.85);
            border: 2px solid $light-color;
            border-radius: 0 2em 0 2em;
            padding: $margin-large;
            margin: $margin-large;
        }
    }

    .simulation-definition {
        &.info-card {
            margin: 0;
        }

        .video-explanation {
            display: flex;
            justify-content: center;
            border-bottom: 2px solid $primary-300;
            padding-bottom: 1rem;

            iframe {
                border: 2px solid $primary-300;
                width: 560px;
                height: 315px;
                border-bottom-left-radius: 2em;
            }
        }
    }

    .simulation-controls {
        h2 {
            font-size: 2rem;
            margin-bottom: $margin-small;
        }
    }

    .simulation-items-handset {
        display: grid;

        .simulation {
            width: 100%;

            >.actions {
                >:not(button) {
                    display: none;
                }
            }
        }
    }

    .simulation-items {
        display: flex;
        justify-content: space-evenly;
        padding-top: $margin-large;

        .text {
            overflow: auto;
        }

        .simulation {
            width: 70%;
            height: 100%;
            margin-left: $margin-large;
        }
    }

    .simulation-items,
    .simulation-items-handset {
        height: 100%;
        width: 100%;

        a {
            color: white;
        }

        .text {
            &.info-card {
                width: auto;
                height: auto;
                margin: 0;
            }

            .parameters,
            .calculations,
            .options,
            .actions {
                display: flex;
                flex-direction: column;
                color: $light-color;

                .formula {
                    text-align: center;
                    font-size: medium;
                }

                .small {
                    margin-top: $margin-large;
                    font-size: small;
                }
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }

        .simulation {
            .simulation-console {
                border: 1px solid $primary-300;
                border-radius: 0 2em 0 0;
                background-color: $primary-700;
                text-align: left;
                height: 100%;
                display: flex;
                flex-direction: column;

                .console-header {
                    height: 2em;
                    background-color: rgba(var(--header-color), 0.9);
                    border-bottom: 1px solid $primary-300;
                    color: white;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    padding-left: $margin-small;
                    border-radius: 0 2em 0 0;

                    img {
                        height: 16px;
                    }

                    span {
                        padding-left: $margin-huge;
                    }
                }

                .console-data {
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    color: $accent;
                    background-color: $primary-700;
                    white-space: nowrap;
                    padding: $margin-small;
                    font-family: $code-font;
                }
            }
        }
    }

    button {
        border: 2px solid $light-color;
        margin: 0.5em;
        border-radius: 2em;
        line-height: inherit;
    }
}