<div class="content simulation-container" *ngIf="simulation$ | async as simulation">
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTabIndex"
        (selectedTabChange)="onTabChanged($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Video</span>
            </ng-template>

            <div class="info-card simulation-definition">
                <div *ngIf="showImageContainer$ | async" class="video-explanation">
                    <youtube-player *ngIf="showVideo$ | async" [videoId]="simulation.youtubeSrc"></youtube-player>
                    <img *ngIf="!(showVideo$ | async)" [src]="simulation.imageSrc"/>
                </div>
                <div *ngIf="simulationDefinition" class="text-explanation">
                    <ng-container [ngTemplateOutlet]="simulationDefinition"></ng-container>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Simulation</span>
            </ng-template>
            <div [class]="(layout.isSmallScreen$ | async) ? 'simulation-items-handset': 'simulation-items'">
                <div *ngIf="(simulationControls || simulationOptions) && !(layout.isSmallScreen$ | async)"
                    class="simulation-controls">
                    <div *ngIf="simulationControls" class="actions">
                        <ng-container [ngTemplateOutlet]="simulationControls"></ng-container>
                    </div>
                    <div *ngIf="simulationOptions" class="simulation-options">
                        <ng-container [ngTemplateOutlet]="simulationOptions"></ng-container>
                    </div>                    
                </div>

                <div *ngIf="simulationBody" class="simulation">
                    <ng-container [ngTemplateOutlet]="simulationBody"></ng-container>
                </div>
            </div>
        </mat-tab>

        <mat-tab *ngIf="(simulationControls || simulationOptions) && (layout.isSmallScreen$ | async)">
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Optionen</span>
            </ng-template>
            <div class="simulation-items-handset">
                <div class="simulation-controls">
                    <div class="actions">
                        <ng-container *ngIf="simulationControls" [ngTemplateOutlet]="simulationControls"></ng-container>
                    </div> 
                    <div *ngIf="simulationOptions" class="simulation-options">
                        <div class="simulation-options"><ng-container [ngTemplateOutlet]="simulationOptions"></ng-container></div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>