.logo {
    margin-right: 2em;

    a {
        display: flex;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            z-index: 10;
        }

        span {            
            margin-left: 22px;
            display: block;
            background: linear-gradient(120deg,#ff9800 0%,#283593 65%,#283593 100%);
            padding: 0px;
            font-size: medium;
            padding-left: 24px;
            padding-right: 10px;
            border: 2px solid #373747;
            border-radius: 15%;
            font-style: italic;
        }
    }
}