@use "/src/styles.scss";
@import "/src/colors.scss"
;

:host {
    display: flex;
    height: 100%;
}

.logo {
    display: flex;
    height: 100%;
    padding: $margin-small 0;
    cursor: pointer;
    background: linear-gradient(115deg, $accent 0%, $sugar-300 50%, $sugar-700 90%, $sugar-700 100%);
    align-items: center;

    a {
        display: flex;
        align-items: center;
        padding: 0 $margin-large 0 $margin-large;

        img {
            height: 30px;
            margin-right: $margin-large;
        }

        span {
            display: block;
            transition-property: color;
            transition-duration: .5s;
            font-family: Bitcoin;
        }
    }

    &:hover {        
        background: linear-gradient(115deg, $accent 0%, $sugar-700 60%, $sugar-700 100%);
    }
}

.polygon.slash-up-right {
    width: 60px;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0, 0% 100%);
    background: linear-gradient(110deg, $sugar-700 0%, $sugar-700 20%, $sugar-900 50%, rgba(var(--header-color), .75) 100%);
}

.logo-old {
    margin-right: 2em;
    cursor: pointer;

    a {
        display: flex;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            z-index: 20;
        }

        span {
            margin-left: 22px;
            display: block;
            background: linear-gradient(120deg, var(--accent) 0%, #283593 65%, #283593 100%);
            padding: 0px;
            font-size: medium;
            padding-left: 24px;
            padding-right: 10px;
            border: 2px solid #ccc;
            border-radius: 15%;
            font-style: italic;
        }
    }

    &:hover a span {        
        background: linear-gradient(110deg,  #283593 0%, #283593 65%, var(--accent) 100%);
    }
}