<h2>Unterstütze uns</h2>
<div class="tiles">
  <div class="info-card">
    <div class="info-card-header">
      <h3>Werde Teil unseres Spaces</h3>
      <a href="https://t.me/FixesThis" title="Nach Telegram" target="_blank"><img
        src="assets/img/icons/telegram-icon.png" alt="Open Telegram"/></a>
    </div>
    <div class="info-card-content">
      Tritt unserer Telegram Gruppe bei, um dich mit anderen auszutauschen, Feedback zu den Simulationen zu geben
      oder an Umfragen teilzunehmen. So kann es uns gelingen, die für dich spannendsten Themen in unserer
      Umsetzung zu priorisieren, mögliche Fehler in den Simulationen frühzeitig zu erkennen oder aber uns über
      Verständnisprobleme zu den Simulationen auszutauschen.
    </div>
  </div>
  <img src="assets/img/fixed-gift.jpg" alt="Get involved"/>

  <img src="assets/img/fixed-team.jpeg" alt="Team"/>
  <div class="info-card">
    <div class="info-card-header">
      <h3>Werde Teil von FixesTh.is</h3>
      <a href="https://t.me/FixesThis" title="Nach Telegram" target="_blank"><img
        src="assets/img/icons/telegram-icon.png" alt="Open Telegram"/></a>
    </div>
    <div class="info-card-content">
      Du findest das Projekt cool, brennst für Bitcoin und deine Skills könnten in das Projekt passen?
      Dann zögere bitte nicht dich mit uns in Verbindung zu setzen - wir sind für jede Unterstützung äußerst
      dankbar.
    </div>
  </div>

  <div class="info-card">
    <div class="info-card-header">
      <h3>Unterstütze uns durch eine Spende</h3>
    </div>
    <div class="info-card-content">
      Ist unsere aufgebrachte Zeit es wert, dass du uns mit dem knappsten Geld der Welt eine Spende zukommen
      lässt?
      Nun, dass musst du selbst bewerten. Aber falls du dich dafür entschieden hast, ein paar Sats zu schubsen,
      bedanken wir uns hiermit recht herzlich.
      <app-donation [showHeader]="false"></app-donation>
    </div>
  </div>
</div>
