@import '/src/app/app.component.scss';

$content-width: 900px;
$image-width: 420px;
$max-text-width: 500px;

img {
  width: $image-width;
}

.info-card {
  a > img {
    width: 32px;
  }
}

.support-tiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: $content-width;

  >*:not(:first-child) {
    margin-top: $margin-huge;
  }
  
  .support-tile-span {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .support-tile-image {
      > img {        
        border: 2px solid $primary-300;
        border-radius: 0 2em 0 2em;
        width: 85vw;
        max-width: 420px
      }
    }

    .support-tile {
      max-width: $max-text-width;
      padding: $margin-small 0;
      flex-wrap: wrap;

      .support-tile-header {
        display: flex;
        margin-bottom: $margin-small;

        a {
          margin-left: $margin-large;
        }
      }
    }
  }

  ::ng-deep .lightning,
  ::ng-deep .on-chain {
    margin: $margin-small;
  }
}

@media only screen and (min-width: $max-content-width) {
  .support-tile-span {  
    flex-wrap: nowrap !important;

    .support-tile {      
      padding: $margin-huge 0;
    }

    .support-tile-image {
      margin-left: $margin-huge;
    } 

    &:nth-child(even) { 
      .support-tile {
        margin-left: $margin-huge;
        order: 2;
      }

      .support-tile-image {        
        margin-left: 0;
      }
    }
  }
}
