.data {
    display: flex;
    justify-content: center;

    div {
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: flex;
        flex-direction: column;
    }

    .input>* {
        width: 100%;
    }

    .output>* {
        width: 100%;
    }

    .input {
        width: 33%
    }

    .output {
        width: 67%
    }
}