.demo-table {
  width: 100%;
}

:host ::ng-deep .mat-tab-label-active {
  font-size: medium;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-card {
  padding: 1em;
  margin: 0.5em;
  margin-bottom: 1.5em;
  box-shadow: 1em;
}

.mat-card-footer {
  padding: 1em;
}