@import "/src/app/app.component.scss";

.text {

    background-color: rgba(var(--footer-color), 0.85);
    border: 2px solid $light-color;
    border-radius: 0em 2em 0em 2em;
    margin-bottom: $margin-large;
    padding: 1em 1.3em;

    .question {
        font-size: 0.7em;
        font-style: italic;
        margin-bottom: 1.5em;
    }

    h1 {
        font-size: 1.6em;
        line-height: 1.2em;
    }

    h2 {
        font-size: 1.6em;
        line-height: 1.2em;
    }

    .explanation {
        margin-top: 1.2em;
    }

    font-size: 2em;
    line-height: 1.2em;

    text-align: left;
    width: 40%;
    max-width: 30em;
    min-width: 20em;
}