@import "/src/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: $max-content-width) {
  .content {
    width: 100%;
  }

  .text {
    background-color: rgba(var(--primary), 0.9);
    border: 2px solid $primary-300;
    border-radius: 0 2em 0 2em;
  }
}

.question {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: $margin-large;
}

h1 {
  font-size: 2.4em;
  line-height: 1.8em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
}

a {
  color: white;
}

.explanation {
  margin-top: 1.8em;
}

.text {
  text-align: left;
  max-width: 600px;
}