<h2>Über das Team</h2>
<div class="contacts alternate">
    <div *ngFor="let contact of contacts" class="contact">
        <div class="contact-header">
            <div class="contact-title">
                <h4>{{contact.quote}}</h4>
                <span class="contact-name">{{contact.name}}</span>
                <span class="contact-description">{{contact.description}}</span>
            </div>
            <div class="contact-image polygon">
                <img [src]="contact.imageSrc" *ngIf="!contact.imageLaserSrc || !enableLaser">
                <img [src]="contact.imageLaserSrc" *ngIf="contact.imageLaserSrc && enableLaser">
            </div>
            <div class="pane"></div>
        </div>
        <div class="contact-body">
            <p *ngFor="let par of contact.paragraphs">{{par}}</p>
            <p *ngFor="let cite of contact.cites"><i>{{cite}}</i></p>
            <p *ngFor="let sm of contact.socialMedia">
                <a href="{{sm.url}}" target="_blank">{{sm.type}}</a>
            </p>
        </div>
    </div>
</div>