<table>
    <tr>
        <th> Setting Name </th>
        <th> Value </th>
        <th> Beautified </th>
    </tr>
    <tr>
        <td> Blockzeit <i>[in Sekunden]</i> </td>
        <td> <input type="number" matInput [(ngModel)]="blockTime"> </td>
        <td> {{calculateTime(blockTime)}} </td>
    </tr>
    <tr>
        <td> Blocksize <i>[in Bytes]</i> </td>
        <td> <input type="number" matInput [(ngModel)]="blockSize"> </td>
        <td> {{calculateSize(blockSize)}} </td>
    </tr>
</table>

<hr />

<table>
    <tr>
        <th>Einheit</th>
        <th>Anzahl Blöcke</th>
        <th>Größe</th>
    </tr>

    <tr *ngFor="let block of blocks">
        <td>{{block.interval}}</td>
        <td>{{block.amountOfBlocks}}</td>
        <td>{{block.blockSize}}</td>
    </tr>
</table>

<hr />

<p>
    Speicherplatz:<br />
    <input type="number" matInput [(ngModel)]="spaceInBytes">
    {{space}}
</p>

<p>
    Voll nach: <br />
    {{spaceIsEmpty}}
</p>