<table>
    <tr>
        <th> Setting Name </th>
        <th> Value </th>
    </tr>
    <tr>
        <td>Blockzeit <i>[in Sekunden]</i></td>
        <td>{{blockTime}}</td>
    </tr>
    <tr>
        <td>Blockzeit <i>[in Minuten]</i></td>
        <td>{{blockTimeInMinutes}}</td>
    </tr>
    <tr>
        <td>Blocksize</td>
        <td>{{calculateSize(blockSize)}}</td>
    </tr>
</table>

<hr />

<table>
    <tr>
        <th>Einheit</th>
        <th>Anzahl Blöcke</th>
        <th>Größe</th>
    </tr>

    <tr *ngFor="let block of blocks">
        <td>{{block.interval}}</td>
        <td>{{block.amountOfBlocks}}</td>
        <td>{{block.blockSize}}</td>
    </tr>
</table>