<app-simulation-container [simulation-body]="simulation" [simulation-definition]="definition"
    [simulation-controls]="controls" [content-layout-mode]="contentLayoutMode" #container>
</app-simulation-container>

<ng-template #simulation>
    <ng-container *ngIf="isHandset$ | async">
        <ng-container *ngTemplateOutlet="actions"></ng-container>
    </ng-container>
    <div class="simulation-console" *ngIf="container.simulation$ | async as simulation">
        <div class="console-header">
            <img src="assets/bitcoin-btc-logo.svg">
            <span>
                {{simulation.title}}
            </span>
        </div>
        <div class="console-data">
            <p *ngIf="bitcoinHashRate$ | async as bitcoinHashRate">
                &gt; Bitcoin Blockchain<br />
                &gt; <span *ngFor="let i of totalBlocks"
                    [ngClass]="isBitcoinLeading(i) ? 'confirm' : 'non-confirm'">--<span
                        *ngIf="i != totalBlocks[totalBlocks.length-1]">-</span></span><br />
                &gt; <span *ngFor="let i of bitcoin" [ngClass]="isBitcoinLeading(i) ? 'confirm' : 'non-confirm'"><span
                        *ngIf="i > 0">&horbar;</span>&#9608;&#9608;</span><br />

                &gt; Anzahl: ({{bitcoin.length}}/{{blocksToComplete}})<br />
                &gt; Anzahl bis Sieg: ({{bitcoinLead}}/{{cancelAttack}})<br />
                &gt; Aktuelle Bitcoin HashRate: {{bitcoinHashRate}}<br />
            </p>
            <p>&gt; ...</p>
            <p>&gt; ...</p>
            <p *ngIf="attackerHashRate$ | async as attackerHashRate">
                &gt; Angreifende Blockchain<br />
                &gt; <span *ngFor="let i of totalBlocks"
                    [ngClass]="isAttackerLeading(i)? 'confirm' : 'non-confirm'">--<span
                        *ngIf="i != totalBlocks[totalBlocks.length-1]">-</span></span><br />
                &gt; <span *ngFor="let i of attacker" [ngClass]="isAttackerLeading(i)? 'confirm' : 'non-confirm'"><span
                        *ngIf="i > 0">&horbar;</span>&#9608;&#9608;</span><br />
                &gt; Anzahl: ({{attacker.length}}/{{blocksToComplete}})<br />
                &gt; Anzahl bis Sieg: ({{attackLead}}/{{confirmations}})<br />
                &gt; Attackierende HashRate: {{attackerHashRate}}<br />
            </p>
            <p>&gt; ...</p>
            <p>&gt; ...</p>
            <p *ngIf="totalHashRate$ | async as hashRate">
                &gt; Gesamt HashRate: {{hashRate}}
            </p>
        </div>
    </div>
</ng-template>

<ng-template #controls>
    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Input</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="parameters">
            <form [formGroup]="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Maximale Angriffsdauer <i>[in Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="blocksToComplete" />
                    <label *ngIf="!isExecuting && !inputs.controls['blocksToComplete'].valid">
                        <span>{{getErrors('blocksToComplete')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Angriffspower <i>[in Prozent]</i></mat-label>
                    <input matInput type="number" formControlName="attackingPower" />
                    <label *ngIf="!isExecuting && !inputs.controls['attackingPower'].valid">
                        <span>{{getErrors('attackingPower')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Vorsprung Angriff <i>[in Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="preminedBlocks" />
                    <label *ngIf="!isExecuting && !inputs.controls['preminedBlocks'].valid">
                        <span>{{getErrors('preminedBlocks')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Abbruch Angriff <i>[nach x Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="cancelAttack" />
                    <label *ngIf="!isExecuting && !inputs.controls['cancelAttack'].valid">
                        <span>{{getErrors('cancelAttack')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Anzahl Bestätigungen <i>[in Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="confirmations" />
                    <label *ngIf="!isExecuting && !inputs.controls['confirmations'].valid">
                        <span>{{getErrors('confirmations')}}</span>
                    </label>
                </mat-form-field>
            </form>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Optionen</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="options">
            <mat-checkbox [(ngModel)]="clearOnStart">
                Clear bei Start
            </mat-checkbox>
        </div>
    </mat-expansion-panel>

    <ng-container *ngTemplateOutlet="actions"></ng-container>
</ng-template>

<ng-template #definition>
    <app-xpa-definition></app-xpa-definition>
</ng-template>


<ng-template #actions>
    <div class="actions">
        <button mat-button (click)="start()" [disabled]="isExecuting || preminedBlocks >= confirmations">Start</button>
        <button mat-button (click)="stop()" [disabled]="!isExecuting">Stop</button>
        <button mat-button (click)="clear()" [disabled]="isExecuting">Clear</button>
        <span *ngIf="totalAmountBlocks > 0">
            Simulation {{isExecuting ? 'gestartet...' : 'beendet.'}}<br />
        </span>
        <div *ngIf="isExecuting">
            <mat-progress-bar [mode]="'indeterminate'">
            </mat-progress-bar>
        </div>
        <div *ngIf="!isExecuting">
            <span>
                Bereit für Simulation.
            </span>
            <mat-progress-bar [mode]="'determinate'">
            </mat-progress-bar>
        </div>
    </div>
</ng-template>