<div class="content">
    <mat-tab-group mat-align-tabs="center" selectedIndex="1">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Definition</span>
            </ng-template>
            <app-vid [video]="'https://www.youtube.com/embed/-adMIa1jV80'"></app-vid>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-tab-label">Simulation</span>
            </ng-template>
            <app-xpa-simulation></app-xpa-simulation>
        </mat-tab>
    </mat-tab-group>
</div>