<app-simulation-container [simulation-body]="simulation" [simulation-definition]="definition"
    [simulation-controls]="controls" [content-layout-mode]="contentLayoutMode" #container>
</app-simulation-container>

<ng-template #simulation>
    <ng-container *ngIf="isHandset$ | async">
        <ng-container *ngTemplateOutlet="actions"></ng-container>
    </ng-container>
    <div class="simulation-console" *ngIf="container.simulation$ | async as simulation">
        <div class="console-header">
            <img src="assets/bitcoin-btc-logo.svg">
            <span>
                {{simulation.title}}
            </span>
            <span *ngIf="scenarioTitle$ | async as scenarioTitle" class="scenario-header">
                {{scenarioTitle}}
            </span>
        </div>
        <div class="console-data">
            <div *ngFor="let participant of participants$ | async" class="xpa-participant">
                <h3>{{participant.title}}</h3>
                <div class="xpa-stripes">
                    <span class="non-confirm">{{participant.stripes}}</span>
                    <span class="confirm" *ngIf="participant.leadingStripes">{{participant.leadingStripes}}</span>
                </div>
                <div class="xpa-blocks">
                    <span class="non-confirm">{{participant.blocks}}</span>
                    <span class="confirm" *ngIf="participant.leadingStripes">{{participant.leadingBlocks}}</span>
                    <span class="confirm" *ngIf="participant.confirmationBoxes">{{participant.confirmationBoxes}}</span>
                </div>
                <div class="xpa-details">
                    <div class="xpa-count"><span>Angriffsdauer</span><span class="confirm">{{participant.minedBlocks}} /
                            {{blocksToComplete}}</span></div>
                    <div class="xpa-left"><span>Vorsprung</span><span
                            class="confirm">{{participant.absoluteLead}}</span></div>
                    <div class="xpa-hashrate">
                        <span>HashRate</span>
                        <span class="confirm">{{participant.hashrate.value}} <span
                                class="non-confirm">{{participant.hashrate.unit}}</span></span>

                    </div>
                </div>
            </div>

            <div *ngIf="totalHashRate$ | async as hashRate" class="xpa-participant">
                <div class="xpa-details">
                    <div class="xpa-hashrate">
                        <span>Gesamt HashRate</span>
                        <span class="confirm">{{hashRate.value}} <span
                                class="non-confirm">{{hashRate.unit}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #controls>
    <ng-container *ngTemplateOutlet="actions"></ng-container>

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>
                    <span>Szenarios</span>
                    <span *ngIf="scenarioTitle$ | async as scenarioTitle" class="scenario-header">{{scenarioTitle}}</span>
                </h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="options">
            <button type="button" mat-button (click)="doubleSpend()">Double Spend</button>
            <button type="button" mat-button (click)="stateAttack()">Non Profit</button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="isHandset$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Input</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="parameters">
            <form [formGroup]="inputs" [ngClass]="{disabled: isExecuting}">
                <mat-form-field appearance="fill">
                    <mat-label>Maximale Angriffsdauer <i>[in Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="blocksToComplete" [readonly]="isExecuting" />
                    <label class="validation-error" *ngIf="!isExecuting && !inputs.controls['blocksToComplete'].valid">
                        <span>{{getErrors('blocksToComplete')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Angriffspower <i>[in Prozent]</i></mat-label>
                    <input matInput type="number" formControlName="attackingPower" [readonly]="isExecuting" />
                    <label class="validation-error" *ngIf="!isExecuting && !inputs.controls['attackingPower'].valid">
                        <span>{{getErrors('attackingPower')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Vorsprung <i>[in Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="preminedBlocks" [readonly]="isExecuting" />
                    <label class="validation-error" *ngIf="!isExecuting && !inputs.controls['preminedBlocks'].valid">
                        <span>{{getErrors('preminedBlocks')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Abbruch <i>[nach x Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="cancelAttack" [readonly]="isExecuting" />
                    <label class="validation-error" *ngIf="!isExecuting && !inputs.controls['cancelAttack'].valid">
                        <span>{{getErrors('cancelAttack')}}</span>
                    </label>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Bestätigungen <i>[in Blöcken]</i></mat-label>
                    <input matInput type="number" formControlName="confirmations" [readonly]="isExecuting" />
                    <label class="validation-error" *ngIf="!isExecuting && !inputs.controls['confirmations'].valid">
                        <span>{{getErrors('confirmations')}}</span>
                    </label>
                </mat-form-field>
            </form>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="isHandset$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Optionen</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="options">
            <mat-checkbox [(ngModel)]="clearOnStart">
                Clear bei Start
            </mat-checkbox>
        </div>
    </mat-expansion-panel>
</ng-template>

<ng-template #definition>
    <app-xpa-definition></app-xpa-definition>
</ng-template>


<ng-template #actions>
    <div class="actions">
        <div class="actions-bar">
            <button mat-button class="btn-circle" (click)="toggleStartStop()" title="Start/Stop"><mat-icon>{{isExecuting ? "stop" : "play_arrow"}}</mat-icon></button>
            <button mat-button class="btn-circle" (click)="clear()" [disabled]="isExecuting" title="Clear"><mat-icon>replay</mat-icon></button>
        </div>

        <div class="action-info">
            <span *ngIf="totalAmountBlocks$ | async as totalAmountBlocks">
                <span *ngIf="totalAmountBlocks > 0">Simulation {{isExecuting ? 'gestartet...' : 'beendet.'}}<br /></span>
            </span>

            <mat-progress-bar *ngIf="isExecuting" [mode]="'indeterminate'">
            </mat-progress-bar>

            <div *ngIf="!isExecuting">
                <span> Bereit für Simulation. </span>
                <mat-progress-bar [mode]="'determinate'">
                </mat-progress-bar>
            </div>
        </div>
    </div>
</ng-template>