<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Die Daten</h2>
        </mat-panel-title>
        <mat-panel-description>
            <b>Die Formel: </b>
            <span>
                Auftrittswahrscheinlichkeit: 1 / (Hashrate im Netzwerk * Blockzeit)
            </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-content class="data">
            <div class="input">
                <h2>Input</h2>
                <button mat-button (click)="determineHashRate()" [disabled]="isCalculating">Hashrate ermitteln</button>
                <mat-form-field appearance="fill">
                    <mat-label><b>Hashrate</b> [Hashes pro Sekunde]</mat-label>
                    <input type="number" matInput [(ngModel)]="hashRate" [min]="minHashRate" [max]="maxHashRate"
                        step="1">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label><b>externe Hashrate</b> [Hashes pro Sekunde]</mat-label>
                    <input type="number" matInput [(ngModel)]="externalHashRate" min="0" step="1">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label><b>Blockzeit</b> [in Sekunden]</mat-label>
                    <input type="number" matInput [(ngModel)]="blockTime" min="1" max="600" step="1">
                </mat-form-field>
            </div>
            <div class="output">
                <h2>Output</h2>
                <mat-form-field appearance="fill">
                    <mat-label><b>Wahrscheinlichkeit</b> [für richtigen Block]</mat-label>
                    <input type="number" matInput [ngModel]="probability" readonly="true">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label><b>Anzahl Blöcke</b> [zu finden - nach Wahrscheinlichkeit]</mat-label>
                    <input type="number" matInput [ngModel]="expectedAmountOfBlocks" readonly="true">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label><b>Erwartete Hash Präfixe</b></mat-label>
                    <input type="text" matInput [ngModel]="expectedPrefixes" readonly="true">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label><b>Hexadezimale Formel</b></mat-label>
                    <input type="text" matInput [ngModel]="hexaDecimalFormula" readonly="true">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>

<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>Die Blöcke</h2>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
        <mat-card-actions>
            <div>
                <mat-checkbox [(ngModel)]="stopOnFoundBlock">
                    Stoppen bei gefundenem Block
                </mat-checkbox>
                |
                <mat-checkbox [(ngModel)]="clearOnStart">
                    Clear bei Start
                </mat-checkbox>
            </div>
            <div>
                <button mat-button (click)="start()" [disabled]="isProcessing || isCalculating">Start</button>
                <button mat-button (click)="stop()" [disabled]="!isProcessing || isCalculating">Stop</button>
                <button mat-button (click)="clear()"
                    [disabled]="isProcessing || hashes.length === 0 || isCalculating">Clear</button>
            </div>
        </mat-card-actions>
        <mat-card-footer>
            <div>
                <mat-form-field apperance="fill">
                    <mat-label><b>Anzahl angezeigter Hashes</b></mat-label>
                    <input type="number" matInput [(ngModel)]="amountHashesToShow" [min]="minAmountOfHashesToShow"
                        step="1" [max]="maxAmountOfHashesToShow">
                </mat-form-field>
                | Ausgeführte eigene Hashraten: {{executedHashrates}}
                | Anzahl eigener Hashes: {{hashNo}}
            </div>
            <div *ngIf="isProcessing">
                <span><b>Simulation gestartet...</b></span>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div *ngIf="!isProcessing && hashes.length > 0">
                <span><b>Simulation beendet.</b></span>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </div>
        </mat-card-footer>
    </mat-card>

    <mat-card>
        <mat-card-content class="results">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Hash </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="isValid">
                    <th mat-header-cell *matHeaderCellDef> Validiert </th>
                    <td mat-cell *matCellDef="let element"> {{element.isValid}} </td>
                </ng-container>

                <ng-container matColumnDef="serialNo">
                    <th mat-header-cell *matHeaderCellDef> Erstellungsnr. </th>
                    <td mat-cell *matCellDef="let element"> {{element.serialNo}} </td>
                </ng-container>

                <ng-container matColumnDef="hashRate">
                    <th mat-header-cell *matHeaderCellDef> Hashrate </th>
                    <td mat-cell *matCellDef="let element"> {{element.hashRate}} </td>
                </ng-container>

                <ng-container matColumnDef="difficulty">
                    <th mat-header-cell *matHeaderCellDef> Difficulty </th>
                    <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>