@import "/src/app/app.component.scss";

.simulation-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.text {
    width: 25%;
    height: 100%;
}

.simulation {
    height: 100%;
    width: 70%;
    border: 1px solid $light-color;
    background-color: $light-color;
    border-radius: 0.2em;
    min-width: 5em;
    min-height: 30em;
    text-align: left;
    /*
    margin-left: $margin-large;
    margin-right: $margin-large;
    margin-top: $margin-large;*/

    .header {
        height: 6%;
        background-color: $light-color;
        color: $dark-color;
        display: flex;
        flex-direction: row;
        vertical-align: middle;

        img {
            margin-top: $margin-slim;
            height: 80%;
            max-width: 2em;
            border: 0px;
        }

        span {
            margin-top: $margin-slim;
            margin-left: $margin-slim;
        }
    }

    .data {
        display: flex;
        flex-direction: column;
        color: $accent;
        white-space: nowrap;
        background-color: $dark-color;
        overflow: auto;
        height: 94%;
        font-family: $code-font;
        padding-right: $margin-slim;
        padding-left: $margin-slim;
    }
}

.simulation {
    min-width: 20%;
}

.parameters,
.calculations,
.options,
.actions {
    display: flex;
    flex-direction: column;
    color: $light-color;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}