<div class="content">
    <div class="items">
        <mat-card (click)="navigateTo('simulations/pow')">
            <img src="assets/Miner_seite2.png" />
            <h2>Hashrate</h2>
            <p>
                Fixes this... Determinismus / Vorhersehbarkeit
            </p>
        </mat-card>
        <mat-card (click)="navigateTo('simulations/pow')">
            <img src="assets/Miner_seite2.png" />
            <h2>Hashrate</h2>
            <p>
                Fixes this... Determinismus / Vorhersehbarkeit
            </p>
        </mat-card>
        <mat-card (click)="navigateTo('simulations/pow')">
            <img src="assets/Miner_seite2.png" />
            <h2>Hashrate</h2>
            <p>
                Fixes this... Determinismus / Vorhersehbarkeit
            </p>
        </mat-card>
    </div>
</div>