<div class="items">
    <mat-card (click)="navigateTo('simulations/blocksize')">
        <img src="assets/Miner_seite2.png" />
        <h2>Blocksize</h2>
        <p>Wie entwickelt sich die Blockchain Größe?</p>
    </mat-card>
    <mat-card (click)="navigateTo('simulations/pow')">
        <img src="assets/Miner_seite2.png" />
        <h2>Proof of Work</h2>
        <p>
            Fixes this... Determinismus / Vorhersehbarkeit
        </p>
    </mat-card>
    <mat-card (click)="navigateTo('simulations/xpa')">
        <img src="assets/Miner_seite2.png" />
        <h2>51% Attacke</h2>
        <p>
            Fixes this... Determinismus / Vorhersehbarkeit
        </p>
    </mat-card>
    <mat-card (click)="navigateTo('simulations/rof')">
        <img src="assets/Miner_seite2.png" />
        <h2>Ring Of Fire</h2>
        <p>Wie funktioniert denn Lightning?</p>
    </mat-card>
</div>