@import "/src/app/app.component.scss";

.simulation-items {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .text {
        width: 28%;
        height: 100%;
        overflow: auto;

        .parameters,
        .calculations,
        .options,
        .actions {
            display: flex;
            flex-direction: column;
            color: $light-color;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .simulation {
        height: 100%;
        width: 70%;
        border: 1px solid $light-color;
        background-color: $light-color;
        border-radius: 0.2em;
        text-align: left;

        .header {
            height: 4%;
            background-color: $light-color;
            color: $dark-color;
            display: flex;
            flex-direction: row;
            vertical-align: middle;

            img {
                height: 70%;
            }
        }

        .data {
            overflow: auto;
            display: flex;
            flex-direction: column;
            color: $accent;
            white-space: nowrap;
            background-color: $dark-color;
            overflow: scroll;
            height: 94%;
            font-family: $code-font;
        }
    }
}