@import "/src/app/app.component.scss";

.simulation-items {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

  a {
    color: white;
  }

  ::ng-deep .mat-tab-header {
    box-sizing: border-box;
  }

  .text {
    overflow: auto;

    &.info-card {
      width: auto;
      height: auto;
      margin: 0;    
    }

    .parameters,
    .calculations,
    .options,
    .actions {
      display: flex;
      flex-direction: column;
      color: $light-color;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .simulation {
    height: 100%;
    width: 70%;
    border: 1px solid $light-color;
    background-color: $light-color;
    border-radius: 0 2em 0 0;
    text-align: left;
    margin-left: $margin-large;

    .console-header {
      height: 4%;
      background-color: $light-color;
      color: $dark-color;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      padding-left: $margin-small;
      border-radius: 0 2em 0 0;

      img {
        height: 70%;
      }

      span {
        padding-left: $margin-huge;
      }
    }

    .console-data {
      overflow: auto;
      display: flex;
      flex-direction: column;
      color: $accent;
      background-color: $dark-color;
      white-space: nowrap;
      padding: $margin-small;
      height: 96%;
      font-family: $code-font;
    }
  }
}
