// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Simulator-primary: mat.define-palette(mat.$indigo-palette);
$Simulator-accent: mat.define-palette(mat.$orange-palette);

// The warn palette is optional (defaults to red).
$Simulator-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Simulator-theme: mat.define-light-theme((color: (primary: $Simulator-primary,
  accent: $Simulator-accent,
  warn: $Simulator-warn,
)));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Simulator-theme);

/* You can add global styles to this file, and also import other style files */

$primary: #21212a;  //mat.get-color-from-palette($Simulator-primary, 800);
$secondary: #ff9800;
$accent: mat.get-color-from-palette($Simulator-accent, 500);
$accent2: mat.get-color-from-palette($Simulator-accent, 100);

$dark-color: #1d1000;
$light-color: white;

$gray: #788;
$gray-50: $gray;
$gray-10: darken($gray, 80%);
$gray-20: darken($gray, 60%);
$gray-30: darken($gray, 40%);
$gray-40: darken($gray, 20%);
$gray-60: lighten($gray, 20%);
$gray-70: lighten($gray, 40%);
$gray-80: lighten($gray, 60%);
$gray-90: lighten($gray, 80%);

$code-font: 'Courier New', Courier, monospace;

/* experimental colors */

/* sizes */
$max-content-width: 1200px;

/* spaces */
$margin-slim: .25em;
$margin-small: .5em;
$margin-large: 1em;
$margin-huge: 2em;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --primary: $primary;
  --secondary: $secondary;

  background-color: #{lighten($primary, 10%)};
  --header-color: #{lighten($primary, 10%)};
  --footer-color: #{lighten($primary, 15%)};
}

table {
  width: 100%;
}

/* shared functional styles */
.d-flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row; 
}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.align-between { align-items: space-between; }
.align-around { align-items: space-around; }
.align-evenly { align-items: space-evenly; }

.hidden { display: none; }
.transparent { opacity: 0; }