// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
//@import "~@coreui/coreui-pro/scss/coreui";
@import "@coreui/coreui/dist/css/coreui.min.css";
@import "./colors.scss";

@function hexToRgb($colorHexValue) {
  @return #{red($colorHexValue), green($colorHexValue), blue($colorHexValue)};
}

/* fonts */
@font-face {
  font-family: "Bitcoin";
  src: url("./assets/fonts/Ubuntu-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Starjedi";
  src: url("./assets/fonts/Starjedi.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --primary: #{hexToRgb($primary)};
  --accent: #{$accent};
  --sugar: #{$sugar};

  --error: #{$error};

  --background-color: #{lighten($primary, 5%)};
  --header-color: #{hexToRgb($primary)};
  --footer-color: #{hexToRgb($primary)};
  --font-color: #{$gray-70};

  background-color: $primary-700;
  background: linear-gradient(45deg, $primary-700, $sugar-700);
}

table {
  width: 100%;
}

/* shared functional styles */
.d-flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-between {
  align-items: space-between;
}

.align-around {
  align-items: space-around;
}

.align-evenly {
  align-items: space-evenly;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.marge-children > *:not(:first-child) { margin-left: $margin-large; }
.marge-children-top > *:not(:first-child) { margin-top: $margin-large; }

.fullscreen-element {  
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10000;
}

/* ### shared component styles ### */

.flex-container {
  display: flex;
  flex-wrap: wrap;

  > :not(:first-child) {
    margin-left: $margin-large;
  }

  &.huge-gaps> :not(:first-child) {
    margin-left: $margin-huge;
  }
}

.flex-table {
  display: flex;
  flex-direction: column;

  >* {
    display: flex;
  }
}

.polygon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 48%, 75% 100%, 25% 100%, 0% 50%);

  img {
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}

.btn-circle {
  border: 2px solid $light-color;
  border-radius: 2em;
  line-height: inherit;
}

.btn-secondary {
  background-color: $gray-40 !important;
  border-color: $gray-50 !important;
}

.btn-compound {
  padding: $margin-small $margin-large !important;
  position: relative;

  .mat-button-wrapper > span:last-child {
    margin-left: 1.5rem;
  }
  
  .mat-button-wrapper:before {
    content: "";
    position: absolute;
    background-color: #2b4487;
    display: inline-block;
    height: 40px;
    width: 2px;
    left: 50px;
    top: 0;
  }
}

.form-field-link {
  color: $field-link-color;

  &:hover {
    color: $field-link-color-hover;
  }
}