<mat-card>
    <mat-card-title>
        Die Bitcoin Spielwiese!
    </mat-card-title>
    <mat-card-content>
        <p>
            Moin zusammen!<br />
            Hier entsteht ein kleines Paradies für alle Bitcoin Enthusiasten und die, die es noch werden wollen. Wir
            sammeln hier
            diverse Tools, um euch den Einstieg in verschiedenste Themen so nahbar wie möglich zu maachen. Um das zu
            erreichen,
            werden wir hier diverse Simulationen implementieren, mit denen ihr dann mal rumprobieren könnt.
        </p>
        <p>
            Wenn ihr Fragen, Anmerkungen, Kritik habt - meldet euch einfach bei:
        </p>
        <ul>
            <li>XXX</li>
            <li>YYY</li>
        </ul>
        <p>
            Da wir Open-Source befürworten und offen sind für Verbesserungen, hier noch das GitHub Repository:
            <a href="https://github.com/MyKaez/btc-playground"
                target="_blank">https://github.com/MyKaez/btc-playground</a>
        </p>
    </mat-card-content>
</mat-card>