<div class="content">
    <div class="items">
        <div class="text">
            <div class="question">
                Du hast Probleme Bitcoin zu verstehen?
            </div>
            <h1>Bitcoin <b>Simulationen</b></h1>
            <h2><i>fixes this!</i></h2>
            <div class="explanation">
                Erkunde anhand realistischer Simulationen wie Bitcoin im Detail funktioniert und welche Probleme wie
                gelöst
                werden.
            </div>
        </div>

        <div class="picture">
            <img src="assets/SimulierteWelt_seite1.png" />
        </div>
    </div>
</div>