:host {
    display: block;
    height: 100%;
}

::ng-deep {
    .carousel,
    .carousel-inner,
    .carousel-inner>div,
    .carousel-item,
    img {
        height: 100%;
    }

    img {
        object-fit: cover;
    }
}